@using MCServerManager.Desktop.Services
@inject StorageService ServerManager
@inject IJSRuntime JsRuntime

@if (ServerManager.Loaded)
{
	<Router AppAssembly="@typeof(App).Assembly">
		<Found Context="routeData">
			<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
			<FocusOnNavigate RouteData="@routeData" Selector="h1"/>
		</Found>
		<NotFound>
			<PageTitle>Not found</PageTitle>
			<LayoutView Layout="@typeof(MainLayout)">
				<p role="alert">Sorry, there's nothing at this address.</p>
			</LayoutView>
		</NotFound>
	</Router>
}
else
{
	<MudThemeProvider IsDarkMode="true"></MudThemeProvider>
	<MudStack Justify="Justify.Center" Class="align-center" Style="height: 100%">
		<MudProgressCircular Indeterminate="true" Size="Size.Large" Color="Color.Primary"/>
		<MudText>Loading servers</MudText>
	</MudStack>
}

@code
{
	protected override async Task OnInitializedAsync()
	{
		if (!ServerManager.Loaded)
		{
			await ServerManager.Load(JsRuntime);
			StateHasChanged();
		}
	}
}
